body{
    display: grid;
    place-items: center;
    min-height: 100vh;
    font-size: 16px;
    line-height: 1.5;
}

/*making all elements their actual size*/
html{
    box-sizing: border-box;
}

*, *::before,*::after{
    box-sizing: inherit;
}


/*COSMETICS*/
main{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 700px;
}

img{
    width: 100%;
    height: auto;
    border-radius: 25px;
}

p, li{
    font-family: 'Outfit';
    color: hsl(30, 10%, 34%);
}

#recipe{
    font-family: 'young-serif';
    font-size: 40px;
    color: hsl(24, 5%, 18%);
}

h2{
    color:hsl(332, 51%, 32%);
    font-family: 'Outfit';
}


h1{
    color:hsl(14, 45%, 36%);
    font-family: 'young-serif';
    font-size: 32px;
    font-weight: 400;
}
.preparation{
    background-color:hsla(332, 69%, 58%, 0.651);
    border-radius: 25px;
    padding: 5px;
}

@font-face {
    font-family: "Outfit";
    src: url('assets/fonts/outfit/Outfit-VariableFont_wght.ttf');
}

@font-face {
    font-family: "young-serif";
    src: url('assets/fonts/young-serif/YoungSerif-Regular.ttf');
}

.ingredients, .instructions{
    width: 100%;
    border-bottom: 1px hsl(30, 18%, 87%) solid;
    margin-bottom: 10px;
    padding: 5px;
}

li{
    margin: 15px;
}
.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }